{% extends 'shopapp/base.html' %}

{% block title %}
    Update product
{% endblock %}

{% block body %}
    <h1>Update product</h1>
    {% if not product.created_by_id %}

        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
        </div>
    {% endif %}

    <div>
        <a href="{% url 'shopapp:product_details' pk=object.pk %}"
        >Back to product #{{ object.pk }}</a>
    </div>
{% endblock %}